body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333
}

body.modo-escuro{
    background-color: #212121;
    color: #f5f5f5
}

header{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo, 
header .imagem-botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.05);
    cursor: pointer
}

main{
    /* background-color: antiquewhite; */
    padding:  25px;
}
main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon{
    background-color: #a8a8aa;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    /* background-color: aqua; */
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 90px;
    height: 90px;
    /* background-color: grey; */

}

main .cartao-pokemon .tipos{
    /* background-color: white; */
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
}

.grama{
    background-color: #7c5;
}

.veneno{
    background-color: #a59;
    
}

.fogo{
    background-color: #f42;
}

.agua{
    background-color: #39f;
}

.inseto{
    background-color: #ab2;
}
.voador{
    background-color: #89f
}

.normal{
    background-color: #aa9;
}

.eletrico{
    background-color: #fc3;
}

.grama{
    background-color: #7c5;
}

.gelo{
    background-color: #6cf;
}

.lutador{
    background-color: #b54;
}

.terra{
    background-color: #db5;
}

.psiquico{
    background-color: #f59;
}

.rocha{
    background-color: #ba6;
}

.fantasma{
    background-color: #66b;
}

.dragao{
    background-color: #76e;
}

.escuridao{
    background-color: #754;
}

.aco{
    background-color: #aab;
}

.fada{
    background-color: #e9e;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-style: 14px;
    padding-right: 10px;
}
